* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(56, 51, 51);
}
.card {
    max-width: 400px;
    margin: 30px auto;
    background: #fff;
    border-radius:10px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.card h2 {
    font-weight: 400px;
}
.card input {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #494eea;
    font-size: 15px;
}
.button {
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    background: rgb(54, 54, 237);
    color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 15px;
}
#imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.75s;
}
#imgBox img {
    width: 100%;
    padding: 10px;
}
#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
.error {
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2);
    }
    100%{
        transform: translateX(0);
    }
}